/AddComas.class
/CaeserCipher.class
/Capitalize.class
/DateString.class
/EnglishConsonant.class
/MyIdexOf.class
/OrdinalForm.class
/Palindrome.class
/PresentParticiple.class
/RandomWord.class
/RegularPluralForm.class
/Scrabble.class
/package-info.class
